<style>
	/*#submitBtn{display: none;}*/
	#list{display: none;} /*hide the section that holds the list and continue btn*/




	#left-defaults li{
		background-color: green;
		border: 1px solid black;
		border-radius: 5px;
		text-align: center;
		font-size: 24pt;
		height:50px;
		margin: 10px;
		margin-left: 10px;
	}




	/* Pretty list css*/
    .event-list {
		list-style: none;
		font-family: 'Lato', sans-serif;
		margin: 0px;
		padding: 0px;
	}
	.event-list > li {
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 0px 5px rgb(51, 51, 51);
		box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
		padding: 0px;
		margin: 0px 0px 20px;
	}
	.event-list > li > time {
		display: inline-block;
		width: 100%;
		color: rgb(255, 255, 255);
		background-color: rgb(197, 44, 102);
		padding: 5px;
		text-align: center;
		text-transform: uppercase;
	}
	.event-list > li:nth-child(even) > time {
		background-color: rgb(165, 82, 167);
	}
	.event-list > li > time > span {
		display: none;
	}
	.event-list > li > time > .day {
		display: block;
		font-size: 80pt;
		font-weight: 100;
		line-height: 1;
		padding-top: 10px;
	}

	.event-list > li > .info > .title {
		font-size: 17pt;
		font-weight: 700;
		margin: 0px;
	}
	@media (min-width: 768px) {
		.event-list > li {
			position: relative;
			display: block;
			width: 100%;
			height: 120px;
			padding: 0px;
		}
		.event-list > li > time,
		.event-list > li > img {
			width: 120px;
			float: left;
		}
		.event-list > li > .info {
			background-color: rgb(245, 245, 245);
			overflow: hidden;
		}
		.event-list > li > time,
		.event-list > li > img {
			width: 120px;
			height: 120px;
			padding: 0px;
			margin: 0px;
		}
		.event-list > li > .info {
			position: relative;
			height: 120px;
			padding-top: 45px;
			text-align: center;
			vertical-align: text-top;
		}	
	}

	/*#prettyList{visibility: hidden;}*/


	/* ./ Pretty list css */

/* bounce */
.bounce {
  position:fixed;
  left:90%;
  bottom:0;
  margin-top:-25px;
  margin-left:-25px;
  height:70px;
  background:red;
  -webkit-animation:bounce 1s infinite;
  color: white;
  font-size: 20pt;
  padding: 15px;
}

@-webkit-keyframes bounce {
  0%       { bottom:5px; }
  25%, 75% { bottom:15px; }
  50%      { bottom:20px; }
  100%     {bottom:0;}
}
/* ./bounce */

/* sticky button */
.stickyBtn{
  display: none;
  position: relative;
  vertical-align: center;
  top:-10px;
  font-size: 12px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #62b1d0;
  border: 0;
  border-bottom: 3px solid #9FE8EF;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -3px #9FE8EF;
  box-shadow: inset 0 -3px #9FE8EF;
}
.stickyBtn:active {
  top: 2px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.stickyBtn:hover {
  background: #45E1E8;
}

/* ./sticky button */


#right-defaults li { 
	background-color: yellow; 
	text-align: center;
	border: 1px solid black;
	border-radius: 6px;
	font-size: 2vw; /* adjusts text tize to fit viewport */
	height: 50px;
}

</style>
<!-- Ruby variables -->
<% chosen_fields = "none" %>

<button href="#"  class="btn stickyBtn" onclick="showDragAndDrop();"><i class="fa fa-chevron-down fa-5x" ></i></button>

<div class='examples'>
	<div class='parent'>
		<h1>Choose your spending categories this week:</h1>
		<ul id='right-defaults' class=' col-sm-12' style="border: 2px dashed green; min-height:200px; margin-bottom: 15px; padding: 10px;"> </ul>
		<div class='wrapper col-sm-12'>
			<ul id='left-defaults' class='col-sm-12' style="border: 1px solid black; min-height: 200px;">
			    <li class="col-sm-3">savings</li>
			    <li class="col-sm-3">bills</li>
			    <li class="col-sm-3">lunches</li>
			    <li class="col-sm-3">phone</li>
			    <li class="col-sm-3">travel</li>
			    <li class="col-sm-3">clothing</li>
				<li class="col-sm-3">activities</li>
			    <li class="col-sm-3">entertainment</li>
			    <li class="col-sm-3">emergency fund</li>
			</ul>
		</div>  
	</div>
	<button class="btn btn-primary btn-lg" onclick="submitClicked();"> I'm ready to make my budget </button>
  </div>


<!-- list -->
<div id="list">
	<div class="row" style="padding-bottom: 20px; padding-top: 50px;">
		<div class="col-xs-6" style="background-color: red; text-align: center;">
			<h2 class="">This budget:</h2>
		</div>
	</div>
	<div class="container" id="prettyList"></div>
	<%= link_to "continue", new_budget_path(:chosen_fields => chosen_fields), id: "submitBtn", class: "bounce" %>
</div>






 <script>
  		var array = [];
  		var finalArray = [];
  		var listItem; //holds the html for list item

		function get_chosen_fields(){
			 console.log("array is:" + array);
			 array = [];
			console.log("array is now :" + array);
			$( "#right-defaults > li" ).each(function() {
				var value  = $( this ).text();
				array.push(value); 
			});
			console.log("array is now 2 :" + array);
		}

		function createLink(){
			var link = $('#submitBtn').attr('href'); //get initial link from the a tag
			var string = link.split('=')[0]; //chop everything off after the =
			var newString =  string + "=" + (array.toString().replace(/,/g, '+')); //make new link (all items in array made into 1 string)
			//console.log(array);
			$("#submitBtn").attr("href", newString)//chnage the a tag to have the new link
		}

		function submitClicked(){

			get_chosen_fields();
			createLink();
			$('#prettyList').empty(); //
			$('#submitBtn').css("display", "block"); //show the link to go to form page
			$( ".examples" ).toggle( "fold" );
			$('.stickyBtn').css("display", "block"); //show the sticky button that when clicked shpws the drag n drop again
			$('#list').css("display", "block"); //show the div that contains the list and continue button
			console.log("array is now 3 :" + array);
			//iterate through each chosen filds and output a list item for each
			$.each(array, function(index, value) {
				//change the html to have the values of each chosen field
				listItem = '<div class="row"><div class="[ col-xs-6  ]" style="margin-left:-30px;"><ul class="event-list"><li><time datetime="2014-07-20"><span class="day">' + (index +1) + '</span></time><div class="info"><h2 class="title">' + value + '</h2></div></li></ul></div>';

			$('#prettyList').append(listItem);//output item
		    });

		    //$('#list').css("display", "block"); //show the list and continue button

		}

		function showDragAndDrop(){
			$( ".examples" ).toggle( "fold" );
			$('#list').css("display", "none"); //show the div that contains the list and continue button
			array = [];
		}

  </script>





