<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My Money Counts</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <style>
    #bottomBorder{ border-bottom: 1px solid black; }
    #topBorder{ border-top: 1px solid black; }
    
    </style>
  </head>
  <body>
    <div class="animsition">
      <!-- navbar was here -->
      <!-- Hero Section-->
      <section style="background: url(assets/bg.jpg); background-size: cover; background-position: center center" class="hero">
        <div class="container">
          <div class="row">
            <div class="col-lg-7">
              <h1>My Money Counts provides tools that help improve <br> money management</h1><a href="#" class="hero-link">Discover More</a>
            </div>
          </div><a href=".intro" class="continue link-scroll"><i class="fa fa-long-arrow-down"></i> Scroll Down</a>
        </div>
      </section>
      <!-- Intro Section-->
      <section class="intro">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <h2 class="h3">Some great intro here</h2>
              <p class="text-big">Place a nice <strong>introduction</strong> here <strong>to catch reader's attention</strong>. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderi.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="featured-posts no-padding-top">
        <div class="container">
          <!-- Post-->
          <div id="bottomBorder" class="row d-flex align-items-stretch">
            <div  class="text col-lg-7">
              <div class="text-inner d-flex align-items-center">
                <div class="content">
                  <header class="post-header">
                      <h2 class="h4">Alberto Savoia Can Teach You About Interior</h2></a>
                  </header>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrude consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                </div>
              </div>
            </div>
            <div class="image col-lg-5"><img src="assets/featured-pic-1.jpeg" alt="..."></div>
          </div>
          <!-- Post        -->
          <div class="row d-flex align-items-stretch">
            <div class="image col-lg-5"><img src="assets/featured-pic-2.jpeg" alt="..."></div>
            <div class="text col-lg-7">
              <div class="text-inner d-flex align-items-center">
                <div class="content">
                  <header class="post-header">
                      <h2 class="h4">Alberto Savoia Can Teach You About Interior</h2></a>
                  </header>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrude consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                </div>
              </div>
            </div>
          </div>
          <!-- Post                            -->
          <div id="topBorder" class="row d-flex align-items-stretch">
            <div class="text col-lg-7">
              <div class="text-inner d-flex align-items-center">
                <div class="content">
                  <header class="post-header">
                      <h2 class="h4">Alberto Savoia Can Teach You About Interior</h2></a>
                  </header>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrude consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                </div>
              </div>
            </div>
            <div class="image col-lg-5"><img src="assets/featured-pic-3.jpeg" alt="..."></div>
          </div>
        </div>
      </section>
      <!-- Divider Section-->
      <section style="background: url(assets/divider-bg.jpg); background-size: cover; background-position: center bottom" class="divider">
        <div class="container">
          <div class="row">
            <div class="col-md-7">
              <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</h2><a href="#" class="hero-link">View More</a>
            </div>
          </div>
        </div>
      </section>
      <!-- Latest Posts -->
      <section class="latest-posts"> 
        <div class="container">
          <header> 
            <h2>Latest from the blog</h2>
            <p class="text-big">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </header>
          <div class="row">
            <div class="post col-md-4">
              <div class="post-thumbnail"><a href="post.html" class="animsition-link"><img src="assets/blog-1.jpg" alt="..." class="img-fluid"></a></div>
              <div class="post-details">
                <div class="post-meta d-flex justify-content-between">
                  <div class="date">20 May | 2016</div>
                  <div class="category"><a href="#">Business</a></div>
                </div><a href="post.html" class="animsition-link">
                  <h3 class="h4">Ways to remember your important ideas</h3></a>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
              </div>
            </div>
            <div class="post col-md-4">
              <div class="post-thumbnail"><a href="post.html" class="animsition-link"><img src="assets/blog-2.jpg" alt="..." class="img-fluid"></a></div>
              <div class="post-details">
                <div class="post-meta d-flex justify-content-between">
                  <div class="date">20 May | 2016</div>
                  <div class="category"><a href="#">Technology</a></div>
                </div><a href="post.html" class="animsition-link">
                  <h3 class="h4">Diversity in Engineering: Effect on Questions</h3></a>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
              </div>
            </div>
            <div class="post col-md-4">
              <div class="post-thumbnail"><a href="post.html" class="animsition-link"><img src="assets/blog-3.jpg" alt="..." class="img-fluid"></a></div>
              <div class="post-details">
                <div class="post-meta d-flex justify-content-between">
                  <div class="date">20 May | 2016</div>
                  <div class="category"><a href="#">Financial</a></div>
                </div><a href="post.html" class="animsition-link">
                  <h3 class="h4">Alberto Savoia Can Teach You About Interior</h3></a>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Newsletter Section-->
      <section class="newsletter no-padding-top">    
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h2>Subscribe to Newsletter</h2>
              <p class="text-big">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="col-md-8">
              <div class="form-holder">
                <form action="#">
                  <div class="form-group">
                    <input type="email" name="email" id="email" placeholder="Type your email address">
                    <button type="submit" class="submit">Subscribe</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Gallery Section-->
      <section class="gallery no-padding">    
        <div class="row">
          <div class="mix col-lg-3 col-md-3 col-sm-5">
            <div class="item"><a href="assets/gallery-1.jpg" data-fancybox="gallery" class="image"><img src="assets/gallery-1.jpg" alt="..." class="img-fluid">
                <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
          </div>
          <div class="mix col-lg-3 col-md-3 col-sm-5">
            <div class="item"><a href="assets/gallery-2.jpg" data-fancybox="gallery" class="image"><img src="assets/gallery-2.jpg" alt="..." class="img-fluid">
                <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
          </div>
          <div class="mix col-lg-3 col-md-3 col-sm-5">
            <div class="item"><a href="assets/gallery-3.jpg" data-fancybox="gallery" class="image"><img src="assets/gallery-3.jpg" alt="..." class="img-fluid">
                <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
          </div>
          <div class="mix col-lg-3 col-md-3 col-sm-5">
            <div class="item"><a href="assets/gallery-4.jpg" data-fancybox="gallery" class="image"><img src="assets/gallery-4.jpg" alt="..." class="img-fluid">
                <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
          </div>
        </div>
      </section>
      <!-- Page Footer-->
      <footer class="main-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="logo">
                <h6 class="text-white">Bootstrap Blog</h6>
              </div>
              <div class="contact-details">
                <p>53 Broadway, Broklyn, NY 11249</p>
                <p>Phone: (020) 123 456 789</p>
                <p>Email: <a href="mailto:info@company.com">Info@Company.com</a></p>
                <ul class="social-menu">
                  <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                  <li class="list-inline-item"><a href="#"><i class="fa fa-behance"></i></a></li>
                  <li class="list-inline-item"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <div class="menus d-flex">
                <ul class="list-unstyled">
                  <li> <a href="#">My Account</a></li>
                  <li> <a href="#">Add Listing</a></li>
                  <li> <a href="#">Pricing</a></li>
                  <li> <a href="#">Privacy &amp; Policy</a></li>
                </ul>
                <ul class="list-unstyled">
                  <li> <a href="#">Our Partners</a></li>
                  <li> <a href="#">FAQ</a></li>
                  <li> <a href="#">How It Works</a></li>
                  <li> <a href="#">Contact</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <div class="latest-posts"><a href="#">
                  <div class="post d-flex align-items-center">
                    <div class="image"><img src="assets/small-thumbnail-1.jpg" alt="..." class="img-fluid"></div>
                    <div class="title"><strong>Hotels for all budgets</strong><span class="date last-meta">October 26, 2016</span></div>
                  </div></a><a href="#">
                  <div class="post d-flex align-items-center">
                    <div class="image"><img src="assets/small-thumbnail-2.jpg" alt="..." class="img-fluid"></div>
                    <div class="title"><strong>Great street atrs in London</strong><span class="date last-meta">October 26, 2016</span></div>
                  </div></a><a href="#">
                  <div class="post d-flex align-items-center">
                    <div class="image"><img src="assets/small-thumbnail-3.jpg" alt="..." class="img-fluid"></div>
                    <div class="title"><strong>Best coffee shops in Sydney</strong><span class="date last-meta">October 26, 2016</span></div>
                  </div></a></div>
            </div>
          </div>
        </div>
        <div class="copyrights">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <p>&copy; 2017. All rights reserved. Your great site.</p>
              </div>
              <div class="col-md-6 text-right">
                <p>Template By <a href="https://bootstraptemple.com" class="text-white">Bootstrap Temple</a>
                  <!-- Please do not remove the backlink to Bootstrap Temple unless you purchase an attribution-free license @ Bootstrap Temple or support us at http://bootstrapious.com/donate. It is part of the license conditions. Thanks for understanding :)                         -->
                </p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- Javascript files-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

  </body>
</html>