

<div class="entry-content">
<!-- 	<img style="float:left; clear:none; padding-right: 4px;" src="http://www.moneycounts.ie/images/icons/activities.png">
	<img style="float: left; clear: none; padding-right: 4px;" src="http://www.moneycounts.ie/images/icons/audio.png" alt=""> -->
	<object width="610" height="458"><param value="http://www.moneycounts.ie/activity/flash/CountingMoney.swf" name="movie"><param value="true" name="allowfullscreen"><embed width="610" height="458" allowfullscreen="true" src="http://www.moneycounts.ie/activity/flash/CountingMoney.swf"></object>
</div>

<!-- http://www.teachingmoney.co.uk/eurosite/euroindex.html 

	 http://www.edtech.ie/details.asp?id=16032&ptid=20124 - too expensive

	 https://www.gynzy.com/teachers/publishers/mathematics/  free

-->



